<%- include("navbar") -%>
    <section class="page-content">
        <section class="search-and-user">
            <form>
                <input type="search" placeholder="Search Pages...">
                <button type="submit" aria-label="submit form">
    <svg aria-hidden="true">
      <use xlink:href="#search"></use>
    </svg>
  </button>
            </form>
            <div class="admin-profile">
                <span class="greeting">Hello admin</span>
                <div class="notifications">
                    <span class="badge">1</span>
                    <svg>
      <use xlink:href="#users"></use>
    </svg>
                </div>
            </div>
        </section>

        <div class="container">
            <form action="/admin/products/update/<%= product.id %>" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-25">
                        <label for="fname">PRODUCT TITLE</label>
                    </div>
                    <div class="col-75">
                        <input class="form-control" value="<%= product.title %>" type="text" id="product_title" name="title" placeholder="Product Title" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="subject">PRODUCT DESCRIPTION</label>
                    </div>
                    <div class="col-75">
                        <textarea class="form-control" id="product_description" name="desc" placeholder="Product Description" style="height:100px"><%= product.desc %></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="lname">PRODUCT CATEGORIES</label>
                    </div>
                    <div class="col-75">
                        <input class="form-control" value="<%= product.categories %>" type="text" id="product categories" name="categories" placeholder="Product Categories">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="lname">PRODUCT SIZE</label>
                    </div>
                    <div class="col-75">
                        <input class="form-control" value="<%= product.size %>" type="number" id="product size" name="size" placeholder="Product Size">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="lname">PRODUCT PRICE</label>
                    </div>
                    <div class="col-75">
                        <input class="form-control" value="<%= product.price %>" type="number" id="product price" name="price" placeholder="Product Price">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="lname">PRODUCT COLOR</label>
                    </div>
                    <div class="col-75">
                        <input class="form-control" value="<%= product.color %>" type="text" id="product color" name="color" placeholder="Product Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="lname">PRODUCT STOCK</label>
                    </div>
                    <div class="col-75">
                        <input class="form-control" type="number" id="product availableStock" name="availableStock" placeholder="Product availableStock">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="lname">PRODUCT IMAGE</label>
                    </div>
                    <div class="col-75">
                        <input class="form-control" type="file" id="product image" name="img" placeholder="Product Image" required>
                        <br>
                        <img src="/static/images/<%= product.img%>" alt="">
                    </div>
                </div>
                <br>
                <div class="row">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
        <footer class="page-footer">
            <span>made by </span>
            <a href="https://georgemartsoukos.com/" target="_blank">
                <img width="24" height="24" src="https://assets.codepen.io/162656/george-martsoukos-small-logo.svg" alt="George Martsoukos logo">
            </a>
        </footer>
    </section>