<%- include("navbar") -%>
    <section class="page-content">
        <section class="search-and-user">
            <form>
                <input type="search" placeholder="Search Pages...">
                <button type="submit" aria-label="submit form">
                <svg aria-hidden="true">
                <use xlink:href="#search"></use>
                </svg>
                </button>
            </form>
            <div class="admin-profile">
                <span class="greeting">Hello admin</span>
                <div class="notifications">
                    <span class="badge">1</span>
                    <svg>
                    <use xlink:href="#users"></use>
                    </svg>
                </div>
            </div>
        </section>
        <h2 style="color: black;">User Data</h2>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>OrderID</th>
                        <th>Customer</th>
                        <th>Location</th>
                        <th>Order Date</th>
                        <th>PaymentStatus</th>
                        <th>Status</th>
                        <th>Net Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach(function(order) { %>
                        <tr>
                            <td>
                                <%= order.id%>
                            </td>
                            <td>
                                <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" style="height: 20px;width: 20px;" class="avatar" alt="Avatar">
                                    <%= order.userId %>
                                </a>
                            </td>
                            <td>
                                <textarea name="" id="" cols="10" rows="10" disabled>
                                <%= order.address.address1 %></textarea>
                            </td>
                            <td>
                                <%= moment(order.createdAt).format('Do MMMM, YYYY')%>
                            </td>
                            <td>
                                <%= order.paymentStatus%>
                            </td>
                            <td>
                                <form action="/admin/order/updatestatus" method="POST">
                                    <input type="hidden" id="orderId" name="orderId" value="<%= order.id%>">
                                    <select name="status" id="status" onchange="this.form.submit()" class="form-control">
                                        <% var p = order.status === "Placed" ? "selected" : "" %>
                                        <% var c = order.status === "Confirmed" ? "selected" : "" %>
                                        <% var d = order.status === "Dispatched" ? "selected" : "" %>
                                        <% var co = order.status === "Completed" ? "selected" : "" %>
                                        <option value="Placed" id="placed" <%= p%>>Placed</option>
                                        <option value="Confirmed" id="confirmed" <%= c%>>Confirmed</option>
                                        <option value="Dispatched" id="dispatched" <%= d%>>Dispatched</option>
                                        <option value="Completed" id="completed" <%= co%>>Completed</option>
                                    </select>
                                </form>
                            </td>
                            <td>Rs.
                                <%= order.amount%>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
        <footer class="page-footer">
            <span>made by </span>
            <a href="https://georgemartsoukos.com/" target="_blank">
                <img width="24" height="24" src="https://assets.codepen.io/162656/george-martsoukos-small-logo.svg" alt="George Martsoukos logo">
            </a>
        </footer>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js" integrity="sha512-eVL5Lb9al9FzgR63gDs1MxcDS2wFu3loYAgjIH0+Hg38tCS8Ag62dwKyH+wzDb+QauDpEZjXbMn11blw8cbTJQ==" crossorigin="anonymous"></script>