<%- include("navbar") -%>
    <section class="page-content">
        <section class="search-and-user">
            <form>
                <input type="search" placeholder="Search Pages...">
                <button type="submit" aria-label="submit form">
    <svg aria-hidden="true">
      <use xlink:href="#search"></use>
    </svg>
  </button>
            </form>
            <div class="admin-profile">
                <span class="greeting">Hello admin</span>
                <div class="notifications">
                    <span class="badge">1</span>
                    <svg>
      <use xlink:href="#users"></use>
    </svg>
                </div>
            </div>
        </section>
        <h2 style="color: black;">User Data</h2>
        <h2>
            <a style="color: black; background-color:gold; border-radius:5%; padding: 5px;" href="/admin/products/add">Add Products</a>
        </h2>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Categories</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Color</th>
                        <th>Available</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(function(product) { %>
                        <tr>
                            <td>
                                <img src="/static/images/<%= product.img%>" style="height: 50px;width: 50px;" alt="..." class="avatar-img rounded-circle" />
                            </td>
                            <td>
                                <%= product.title %>
                            </td>
                            <td>
                                <%= product.desc %>
                            </td>
                            <td>
                                <%= product.categories %>
                            </td>
                            <td>
                                <%= product.size %>
                            </td>
                            <td>
                                <%= product.price %>
                            </td>
                            <td>
                                <%= product.color %>
                            </td>
                            <% if (product.instock) {%>
                                <td>
                                    InStock
                                </td>
                                <%} else {%>
                                    <td>
                                        OutOfStock
                                    </td>
                                    <% }%>
                                        <td>
                                            <a href="/admin/products/update/<%= product.id %>">Edit</a>
                                        </td>
                                        <td><a href="/admin/products/delete/<%= product.id %>">Delete</a></td>
                        </tr>
                        <% }); %>
                            <tbody>
            </table>
        </div>
        <footer class="page-footer">
            <span>made by </span>
            <a href="https://georgemartsoukos.com/" target="_blank">
                <img width="24" height="24" src="https://assets.codepen.io/162656/george-martsoukos-small-logo.svg" alt="George Martsoukos logo">
            </a>
        </footer>
    </section>