<%- include("navbar") -%>
    <section class="page-content">
        <section class="search-and-user">
            <form>
                <input type="search" placeholder="Search Pages...">
                <button type="submit" aria-label="submit form">
    <svg aria-hidden="true">
      <use xlink:href="#search"></use>
    </svg>
  </button>
            </form>
            <div class="admin-profile">
                <span class="greeting">Hello admin</span>
                <div class="notifications">
                    <span class="badge">1</span>
                    <svg>
      <use xlink:href="#users"></use>
    </svg>
                </div>
            </div>
        </section>
        <h2 style="color: black;">User Data</h2>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(function(user) { %>
                        <tr>
                            <td>
                                <%= user.userName %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <% if (user.isAdmin) {%>
                                <td>
                                    Admin
                                </td>
                                <%} else {%>
                                    <td>
                                        User
                                    </td>
                                    <% }%>
                                        <td>
                                            <a href="/admin/users/update/<%= user.id %>">Edit</a>
                                        </td>
                                        <td><a href="/admin/users/delete/<%= user.id %>">Delete</a></td>
                        </tr>
                        <% }); %>
                            <tbody>
            </table>
        </div>
        <footer class="page-footer">
            <span>made by </span>
            <a href="https://georgemartsoukos.com/" target="_blank">
                <img width="24" height="24" src="https://assets.codepen.io/162656/george-martsoukos-small-logo.svg" alt="George Martsoukos logo">
            </a>
        </footer>
    </section>