<%- include("header") -%>
    <% if (locals.messages) { %>
        <script language="javascript">
            if ("<%= messages.msg %>" !== '') {
                alert("<%= messages.msg %>");
            }
        </script>
        <% } %>
            <%- include("navbar") -%>
                <section class="section-products">
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-md-8 col-lg-6">
                                <div class="header">
                                    <h3>Featured Product</h3>
                                    <h2>Popular Products</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Single Product -->
                            <% products.forEach(function(product) { %>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div id="product-1" class="single-product">
                                        <div class="part-1" style="
                                                background: url('/static/images/<%= product.img %>') no-repeat center;
                                                background-size: cover;
                                                transition: all 0.3s;" onclick="location.href='/product/details/<%=product.id%>'">
                                            <ul>
                                                <li><a href="/addtocart/<%= product.id%>"><i class="fas fa-shopping-cart"></i></a></li>
                                                <li>
                                                    <a href="/addtowishlist/<%= product.id%>"><i class="fas fa-heart"></i></a>
                                                    <!-- <form id="addToWishlist" action="/addtowishlist" method="POST">
                                                        <input type="hidden" name="prodId" id="prodId" value="<%= product.id %>">
                                                        <a href="#" onclick="myFunction()"><i class="fas fa-heart"></i></a>
                                                    </form> -->
                                                </li>
                                                <li><a href="/product/details/<%= product.id%>"><i class="far fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="part-2">
                                            <h3 class="product-title" style="color:black;">
                                                <%= product.title %>
                                            </h3>
                                            <!-- <h4 class="product-old-price">$79.99</h4> -->
                                            <h4 class="product-price" style="color:black;">Rs.
                                                <%= product.price %>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </section>
                <%- include("footer") -%>