<%- include("../header") -%>
    <% if (locals.messages) { %>
        <script language="javascript">
            if ("<%= messages.msg %>" !== '') {
                alert("<%= messages.msg %>");
            }
        </script>
        <% } %>
            <div class="text-center center-div" id="login">
                <%- include("../navbar") -%>
                    <div class="container w-25 mt-4 border py-5">
                        <div class="title pb-5">
                            <h2 class="font-weight-bold">Update password</h2>
                            <span>update password</span>
                        </div>
                        <form action="/updatepassword" method="POST">
                            <br>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="currentPassword" id="currentPassword" name="currentPassword" required/>
                                <span class="form-text text-muted text-left">your current password</span>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="newPassword" id="newPassword" name="newPassword" required/>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="confirmPassword" id="confirmPassword" name="confirmPassword" required/>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-success rounded-pill">submit</button>
                        </form>
                    </div>
            </div>
            <%- include("../footer") -%>