<%- include("../header") -%>
    <% if (locals.messages) { %>
        <script language="javascript">
            if ("<%= messages.msg %>" !== '') {
                alert("<%= messages.msg %>");
            }
        </script>
        <% } %>
            <%- include("../navbar") -%>
                <div class="container">
                    <div class="card">
                        <div class="container-fliud">
                            <div class="wrapper row">
                                <div class="preview col-md-6">

                                    <div class="preview-pic tab-content">
                                        <div class="tab-pane active" id="pic-1"><img src="/static/images/<%= product.img%>" /></div>
                                        <!-- <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
                                        <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
                                        <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
                                        <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div> -->
                                    </div>
                                    <!-- <ul class="preview-thumbnail nav nav-tabs">
                                        <li class="active">
                                            <a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                                        </li>
                                        <li>
                                            <a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                                        </li>
                                        <li>
                                            <a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                                        </li>
                                        <li>
                                            <a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                                        </li>
                                        <li>
                                            <a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                                        </li>
                                    </ul> -->

                                </div>
                                <div class="details col-md-6">
                                    <h3 class="product-title">
                                        <%= product.title%>
                                    </h3>
                                    <!-- <div class="rating">
                                        <div class="stars">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                        <span class="review-no">41 reviews</span>
                                    </div> -->
                                    <p class="product-description">
                                        <%= product.desc%>
                                    </p>
                                    <h4 class="price">current price: <span>Rs.<%= product.price%></span></h4>
                                    <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                                    <h5 class="sizes">size:
                                        <span class="size" data-toggle="tooltip" title="small"><%= product.size%></span>
                                        <!-- <span class="size" data-toggle="tooltip" title="medium">m</span>
                                        <span class="size" data-toggle="tooltip" title="large">l</span>
                                        <span class="size" data-toggle="tooltip" title="xtra large">xl</span> -->
                                    </h5>
                                    <!-- <h5 class="colors">color:
                                        <span class="color <%= product.color%> not-available" data-toggle="tooltip" title="Not In store"></span>
                                        <!-- <span class="color green"></span>
                                        <span class="color blue"></span> -->
                                    </h5>
                                    <hr>
                                    <div class="action">
                                        <a href="/addtocart/<%= product.id%>" class="add-to-cart btn btn-default" type="button">add to cart</a>
                                        <a href="/addtowishlist/<%= product.id%>" class="like btn btn-default" type="button"><span class="fa fa-heart"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include("../footer") -%>>
                    <%- include("../footer") -%>