<%- include("../header") -%>
    <% if (locals.messages) { %>
        <script language="javascript">
            if ("<%= messages.msg %>" !== '') {
                alert("<%= messages.msg %>");
            }
        </script>
        <% } %>
            <%- include("../navbar") -%>
                <section class="wishlist mt-4">
                    <div class="container">
                        <h3>Welcome to Payment Gateway</h3>
                        <form action="payment/stripe" method="POST">
                            <input type="hidden" name="amount" id="amount" value="<%= amount %>">
                            <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="<%= key %>" data-currency="inr" data-name="Vishal Kumar" data-description="New Creation Store" data-locale="auto">
                            </script>
                        </form>
                    </div>
                </section>
                <%- include("../footer") -%>