<%- include("../header") -%>
    <% if (locals.messages) { %>
        <script language="javascript">
            if ("<%= messages.msg %>" !== '') {
                alert("<%= messages.msg %>");
            }
        </script>
        <% } %>
            <%- include("../navbar") -%>
                <section class="wishlist mt-4">
                    <div class="container">
                        <h4 class="mb-4">Payment &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <script onclick="myFunction2()" src="//checkout.stripe.com/v2/checkout.js" class="stripe-button align-items-center" data-key="<%= key %>" data-amount="2500" data-currency="inr" data-name="Vishal Kumar" data-description="New Creation Store" data-locale="auto">
                            </script>
                            <a href="/order" class="btn btn-primary">COD</a>
                        </h4>
                    </div>
                </section>
                <%- include("../footer") -%>