<%- include("../header") -%>
    <% if (locals.messages) { %>
        <script language="javascript">
            if ("<%= messages.msg %>" !== '') {
                alert("<%= messages.msg %>");
            }
        </script>
        <% } %>
            <%- include("../navbar") -%>
                <section class="wishlist mt-4">
                    <div class="container">
                        <h2 class="mb-5">My wishlist</h2>
                        <% if(wishlists.length > 0) { %>
                            <% wishlists.forEach(function(wishlist) { %>
                                <div class="row wishlistRow py-3 px-3 mb-4">
                                    <div class="col-md-2 pl-0 mb-3">
                                        <img src="/static/images/<%= wishlist.img %>" class="w-100" alt="">
                                    </div>
                                    <div class="col-md-10">
                                        <h5>
                                            <%= wishlist.title %>
                                        </h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span class="rupeeIcon"><i class="fas fa-rupee-sign"></i> <%= wishlist.price %></span>
                                                <!-- <span class="oldPrice ml-3"><del>
                                                <i class="fas fa-rupee-sign"></i> 599</del>
                                            </span> -->
                                            </div>
                                            <div class="col-md-6 deleteBtn">
                                                <a href="/wishlist/delete/<%= wishlist.id %>" tabindex="0"><i class="far fa-trash-alt"></i></a>
                                            </div>
                                        </div>
                                        <div class="row justify-content-md-end mb-md-4">
                                            <a href="/addtocart/<%= wishlist.productId%>" class="redBtn btn productBtns mb-2"><i class="fas fa-shopping-cart"></i> Add to cart</a>
                                        </div>
                                        <!-- <div class="row">
                                        <p class="rating"><i class="fas fa-star"></i> (4.5) <a href="#">167 Reviews</a></p>
                                    </div> -->
                                    </div>
                                </div>
                                <% }); %>
                                    <%} else{ %>
                                        <div class="row wishlistRow py-3 px-3 mb-4">
                                            <h2>Your Wishlist is Empty</h2>
                                        </div>
                                        <% }%>
                    </div>
                </section>

                <%- include("../footer") -%>